.right-container {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 35vw;
}

.logo {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
  align-items: center;
}

.sign-up {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
}

.logo-container {
  display: flex;
  justify-content: last baseline;
  align-items: center;
}

.privacy {
  font-size: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-title {
  color: #e86100;
}

.input {
  height: auto;
}

.button {
  display: flex;
  width: 50vw;
}
